# 去除不需要的文件
/api/internal/vendor
/api/internal/.idea
/api/internal/.vscode
/api/internal/log
/api/internal/go.sum
/api/outer/vendor
/api/outer/.idea
/api/outer/.vscode
/api/outer/log
/api/outer/go.sum
/srv/database/vendor
/srv/database/.idea
/srv/database/.vscode
/srv/database/log
/srv/database/go.sum
/srv/global/vendor
/srv/global/.idea
/srv/global/.vscode
/srv/global/log
/srv/global/log
/srv/global/go.sum
/srv/manage/vendor
/srv/manage/.idea
/srv/manage/.vscode
/srv/manage/log
/srv/manage/go.sum
/srv/report/vendor
/srv/report/.idea
/srv/report/.vscode
/srv/report/log
/srv/report/go.sum
/srv/storage/vendor
/srv/storage/.idea
/srv/storage/.vscode
/srv/storage/log
/srv/storage/go.sum
/srv/task/vendor
/srv/task/.idea
/srv/task/.vscode
/srv/task/log
/srv/task/go.sum
/srv/workflow/vendor
/srv/workflow/.idea
/srv/workflow/.vscode
/srv/workflow/log
/srv/workflow/go.sum
/srv/journal/vendor
/srv/journal/.idea
/srv/journal/.vscode
/srv/journal/log
/srv/journal/go.sum
/srv/import/vendor
/srv/import/.idea
/srv/import/.vscode
/srv/import/log
/srv/import/go.sum
/lib/msg/vendor
/lib/msg/.idea
/lib/msg/.vscode
/lib/msg/log
/lib/msg/go.sum
/lib/logger/vendor
/lib/logger/.idea
/lib/logger/.vscode
/lib/logger/log
/lib/logger/go.sum
